/* @import 'tailwindcss'; */

/* #root {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
} */

body {
  display: flex;
  align-items: flex-start;
}
.Links {
  display: flex;
  justify-content: space-between;
}
.Navbar {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  justify-content: center;
  padding-inline: 5%;
}
.Logo h1 {
  font-size: 100%;
  margin-left: auto;
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
